In [2]:
import json
import csv
import pandas as pd  
  
# Opening JSON file
f = open('a3cleanedonly2015.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)

In [3]:
police_shoot = pd.read_json("a3cleanedonly2015.json")
police_shoot['Month']=police_shoot['Date'].dt.month_name()

police_shoot.head()

#police_shoot.Mental_illness.value_counts()
#police_shoot.Race.unique()
#'Asian', 'Black', 'Hispanic', 'Other', 'Native', 'White'

,FIELD1,Unnamed: 0,UID,Name,Age,Gender,Race,Date,City,State,Manner_of_death,Armed,Mental_illness,Flee,Month
0,103,104,9978,Tim Elliott,53.0,Male,Asian,2015-01-02,Shelton,WA,Shot,,True,False,January
1,104,105,10077,Hung Trieu,NaN,Male,Asian,2015-02-01,Houston,TX,Shot,,False,False,February
2,105,106,10374,Lue Vang,39.0,Male,Asian,2015-04-22,Eldorado Springs,CO,Shot,,False,False,April
3,106,107,10421,Thong Kien Ma,32.0,Male,Asian,2015-05-05,South El Monte,CA,Shot,,False,False,May
4,107,108,10628,Ton Nguyen,60.0,Male,Asian,2015-07-02,San Diego,CA,Shot,,False,False,July

In [4]:
temp = police_shoot.filter(['Mental_illness', 'Manner_of_death', 'Race', 'State', 'Armed', 'Date'])
mental= temp[temp['Mental_illness'] ==True]

mental.head()
#mental.State.value_counts() #CA, TX, FL

    Mental_illness   Manner_of_death   Race State   Armed       Date
0             True              Shot  Asian    WA         2015-01-02
11            True              Shot  Asian    WA     Gun 2015-01-02
14            True              Shot  Asian    CA   Knife 2015-04-08
17            True  Shot and Tasered  Asian    CA  Hammer 2015-01-28
24            True              Shot  Black    VA         2015-01-14

In [5]:
mental_loc_df = mental[mental['State'].str.contains('CA')|mental['State'].str.contains('TX') | mental['State'].str.contains('FL')]
#mental_loc_df.to_csv('mental_location.csv') 
mental_loc_df.head()
#test = mental_loc_df[mental_loc_df['State'] == 'TX']
#TX_mon = test[test['Month'] == 'September']
#TX_mon.shape[0]
d = mental_loc_df.Date

d

14     2015-04-08
17     2015-01-28
46     2015-02-15
57     2015-03-01
63     2015-03-08
          ...
1481   2015-08-10
1513   2015-04-30
1520   2015-09-10
1525   2015-10-06
1533   2015-05-06
Name: Date, Length: 121, dtype: datetime64[ns]

In [6]:
texas = pd.DataFrame({'Date': pd.to_datetime(['2015-01-01', '2015-02-01', '2015-03-01','2015-04-01', '2015-05-01', '2015-06-01',
                         '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01','2015-11-01', '2015-12-01']),
                          'Value': [5, 2, 2, 1, 3, 12, 1, 4, 2, 1, 2, 4],
                          'Location': ['Texas','Texas','Texas','Texas','Texas',
                            'Texas','Texas','Texas','Texas','Texas','Texas','Texas']})

In [7]:
california = pd.DataFrame({'Date': pd.to_datetime(['2015-01-01', '2015-02-01', '2015-03-01','2015-04-01', '2015-05-01', '2015-06-01',
                         '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01','2015-11-01', '2015-12-01']),
                          'Value': [5, 1, 13, 6, 7, 1, 7, 5, 6, 4, 3, 3],
                          'Location': ['California','California','California','California','California',
                            'California','California','California','California','California','California','California']})

In [8]:
florida = pd.DataFrame({'Date': pd.to_datetime(['2015-01-01', '2015-02-01', '2015-03-01','2015-04-01', '2015-05-01', '2015-06-01',
                         '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01','2015-11-01', '2015-12-01']),
                          'Value': [1, 1, 1, 1, 7, 2, 2, 1, 4, 1, 0, 0],
                          'Location': ['Florida','Florida','Florida','Florida','Florida',
                            'Florida','Florida','Florida','Florida','Florida','Florida','Florida']})

In [9]:
dfs = [california, texas, florida]
location_num = pd.concat(dfs)
location_num.to_csv('location_num3.csv')
#police_race_num.to_csv('police_race_num.csv') 
#frames = [df1, df2, df3]

#result = pd.concat(frames)

In [31]:
#Mentall Illness and Race
#mental.Race.unique() #'Asian', 'Black', 'Hispanic', 'Other', 'Native', 'White', ''

#mental.Race.value_counts()
total= 327

race_ill_percent = pd.DataFrame({'Race': ['White', 'Black', 'Hispanic', 'Asian', 'Native', 'Other', "Unknown"],
                          'Num_of_deaths': [186, 52, 48, 4, 4, 1, 32],
                          'Mental_Percent': [(186/751) * 100, (52/378) * 100, (48/246) * 100, (4/19) * 100, (4/19) * 100, (1/10)*100, 
                          (32/114) * 100],
                          'Gen_Percent': [(565/751) * 100, (326/378) * 100, (198/246) * 100, (15/19) * 100, (15/19) * 100, (9/10)*100, 
                          (82/114) * 100]})

#police_shoot.Race.value_counts()
race_ill_percent.to_csv('race_ill_percent.csv')

In [ ]:
a =police_shoot[police_shoot['State'] == ['WA', 'CA', 'VA', 'FL', 'AL', 'GA', 'MO', 'NY', 'MN', 'MI', 'LA',
                                            'KY', 'TX', 'NC', 'SC', 'OH', 'IN', 'TN', 'IL', 'DC', 'DE', 'MD',
                                            'PA', 'OK', 'AZ', 'WI', 'NJ', 'MA', 'CO', 'KS', 'UT', 'ME', 'WV',
                                            'OR', 'IA', 'MT', 'WY', 'NV', 'NH', 'NE', 'SD', 'MS', 'CT']]
#b = mental[mental['State'] == 'CT']
#b.shape[0], a.shape[0]

In [99]:
#state  % ill

state_ill_percent = pd.DataFrame({'State': ['WA', 'CA', 'VA', 'FL', 'AL', 'GA', 'MO', 'NY', 'MN', 'MI', 'LA',
                                            'KY', 'TX', 'NC', 'SC', 'OH', 'IN', 'TN', 'IL', 'DC', 'DE', 'MD',
                                            'PA', 'OK', 'AZ', 'WI', 'NJ', 'MA', 'CO', 'KS', 'UT', 'ME', 'WV',
                                            'OR', 'IA', 'MT', 'WY', 'NV', 'NH', 'NE', 'SD', 'MS', 'CT'],
                          'Mental_Percent': [(11/26) * 100, (61/276) * 100, (6/35) * 100, (21/91) * 100, (12/31) * 100, (10/47)*100, 
                          (4/29) * 100, (8/26) * 100, (9/23) * 100, (5/21) * 100, (10/43) * 100, (2/24) * 100, (39/174) * 100, (7/32) * 100,
                          (2/31) * 100, (6/46) * 100, (5/26) * 100, (9/29) * 100, (6/31) * 100, (1/7) * 100, (1/7) * 100, (5/24) * 100,
                          (5/29) * 100, (9/50) * 100, (14/60) * 100, (2/14) * 100, (7/21) * 100, (3/14) * 100, (5/38) * 100, (3/17) * 100, (6/13) * 100,
                          (2/4) * 100, (2/17) * 100, (13/27) * 100, (1/8) * 100, (1/6) * 100, (1/8) * 100, (4/32) * 100, (4/5) * 100, (1/14) * 100, 
                          (2/6) * 100, (1/19) * 100, (1/4) * 100],

                          'Total_Death':[26, 276, 35, 91, 31, 47, 29, 26, 23, 21, 43, 24, 174, 32,
                          31, 46, 26, 29, 31, 7, 7, 24, 29, 50, 60, 14, 21, 14, 38, 17, 13,
                          4, 17, 27, 8, 6, 8, 32, 5, 14, 6, 19, 4]})

#mental.State.value_counts()
#mental.State.unique()
state_ill_percent.to_csv('state_ill_percent.csv')

276

In [ ]:


mental.Manner_of_death.unique() #'Shot', 'Shot and Tasered', 'Tasered'
mental.State.unique() #['WA', 'CA', 'VA', 'FL', 'AL', 'GA', 'MO', 'NY', 'MN', 'MI', 'LA',
       #'KY', 'TX', 'NC', 'SC', 'OH', 'IN', 'TN', 'IL', 'DC', 'DE', 'MD',
       #'PA', 'OK', 'AZ', 'WI', 'NJ', 'MA', 'CO', 'KS', 'UT', 'ME', 'WV',
       #'OR', 'IA', 'MT', 'WY', 'NV', 'NH', 'NE', 'SD', 'MS', 'CT']
mental.State.value_counts() #CA(61), TX(39), FL(21)
#police_shoot.State.value_counts() #CA(276), TX(174), FL(91)
#netflix.rating.unique()
#police_race_stat.Race.value_counts()

#df.filter(["Name", "College", "Salary"])

In [ ]:
mental['month'] = pd.DatetimeIndex(mental['Date']).month
#df['month'] = pd.DatetimeIndex(df['Date Attribute']).month

In [31]:
mental.Manner_of_death.value_counts()
mental.shape[0]

327

In [ ]:
#create column in mental of # of total deaths per state

In [9]:
police_race_stat = police_shoot.dropna(subset=['Race'])
#disney_country = disney_kid_df.dropna(subset=['country'])

police_race_freq = police_race_stat.Race.value_counts()
#country_freq = disney_country.country.value_counts()

police_race_freq
police_shoot.shape[0]

#netflix = netflix.dropna()

1537

In [21]:
police_shoot.to_csv('police.csv')

In [13]:
police_race_num = pd.DataFrame({'Race': ['White', 'Black', 'Hispanic', 'Blank', 'Asian', 'Native', 'Other'],
                                'Number': [751, 378, 246, 114, 19, 19, 10],
                                'Percent': [751/1537, 378/1537, 246/1537, 114/1537, 19/1537, 19/1537, 10/1537]
})

police_race_num.to_csv('police_race_num.csv')