In [1]:
import pandas as pd
import csv

In [6]:
net_int = pd.read_csv('../final_project/top_netflix_int.csv')
type(net_int['value'][0])

numpy.int64

In [12]:
top_net = pd.read_csv('../final_project/netflix daily top 10.csv')
#for col in top_net.columns:
   # print(col)
top_net.max()

    #Days In Top 10

/tmp/user/21868/ipykernel_747261/2741356808.py:4: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  top_net.max()

As of                     9/9/21
Rank                          10
Year to Date Rank              9
Last Week Rank                 9
Title                     Ãlite
Type                     TV Show
Netflix Release Date    9-Sep-20
Days_Top_10                  428
Viewership Score            1474
dtype: object

In [ ]:
#df.sort_values(by=['col1'])
#top_net.sort_values(by =['Days_Top_10', ascending=False])
top_net.sort_values(by=['Days_Top_10'], ascending=False)

In [2]:
disney = pd.read_csv('../data/disney_kid.csv')
netflix = pd.read_csv('../data/netflix_kid.csv')
hulu = pd.read_csv('../data/hulu_kid.csv')
amazon = pd.read_csv('../data/amazon_kid.csv')
amazon.shape[0]

2764

In [4]:
amazon_india = pd.read_csv('../data/amazon_kid_India.csv')
amazon_UK = pd.read_csv('../data/amazon_kid_UK.csv')
amazon_US = pd.read_csv('../data/amazon_kid_USA.csv')

disney_CA = pd.read_csv('../data/disney_kid_Canada.csv')
disney_UK = pd.read_csv('../data/disney_kid_UK.csv')
disney_US = pd.read_csv('../data/disney_kid_USA.csv')

hulu_JP = pd.read_csv('../data/hulu_kid_Japan.csv')
hulu_UK = pd.read_csv('../data/hulu_kid_UK.csv')
hulu_US = pd.read_csv('../data/hulu_kid_USA.csv')

netflix_JP = pd.read_csv('../data/netflix_kid_India.csv')
netflix_UK = pd.read_csv('../data/netflix_kid_UK.csv')
netflix_US = pd.read_csv('../data/netflix_kid_USA.csv')

In [95]:
test = netflix_JP[netflix_JP['listed_in'].str.contains('Cartoon')]
test.shape[0]
#netflix_UK.listed_in.unique()

0

In [99]:
dfs = [net_JP, net_UK, net_US]
net_genres = pd.concat(dfs)
net_genres.to_csv('netflix_genres.csv')

In [98]:
net_JP = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [82, 110, 2, 10, 4, 15, 23, 146, 0],
                          'Location': ['Japan','Japan','Japan','Japan','Japan',
                            'Japan','Japan','Japan','Japan']})

In [97]:
net_UK = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [55, 64, 39, 35, 2, 88, 18, 78, 0],
                          'Location': ['UK','UK','UK','UK','UK',
                            'UK','UK','UK','UK']})

In [4]:
net_US = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [11, 283, 148, 196, 44, 205, 122, 55, 10],
                          'Location': ['USA','USA','USA','USA','USA',
                            'USA','USA','USA','USA']})

In [100]:
dfs = [hulu_JP, hulu_UK, hulu_US]
hulu_genres = pd.concat(dfs)
hulu_genres.to_csv('hulu_genres.csv')

In [5]:
hulu_US = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [117, 54, 20, 60, 12, 42, 16, 3, 32],
                          'Location': ['USA','USA','USA','USA','USA',
                            'USA','USA','USA','USA']})

In [51]:
hulu_UK = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [12, 21, 2, 11, 4, 5, 3, 15, 3],
                          'Location': ['UK','UK','UK','UK','UK',
                            'UK','UK','UK','UK']})

In [52]:
hulu_JP = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [7, 5, 0, 18, 0, 1, 0, 7, 32],
                          'Location': ['Japan','Japan','Japan','Japan','Japan',
                            'Japan','Japan','Japan','Japan']})

In [105]:
#Disney Genre

dis_CA = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [29, 13, 34, 31, 0, 4, 1, 0, 24],
                          'Location': ['Canada','Canada','Canada','Canada','Canada',
                            'Canada','Canada','Canada','Canada']})

In [104]:
dis_UK = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [27, 9, 25, 47, 0, 24, 1, 0, 36],
                          'Location': ['UK','UK','UK','UK','UK',
                            'UK','UK','UK','UK']})

In [6]:
dis_US = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [481, 116, 242, 391, 0, 150, 21, 0, 586],
                          'Location': ['USA','USA','USA','USA','USA',
                            'USA','USA','USA','USA']})

In [106]:
dfs = [dis_CA, dis_UK, dis_US]
disney_genres = pd.concat(dfs)
disney_genres.to_csv('disney_genres.csv')

In [ ]:
#Amazon Genre
#Genre, Value, Location 

India = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [14, 40, 1, 6, 7, 2, 16, 35, 0],
                          'Location': ['India','India','India','India','India',
                            'India','India','India','India','India','India','India']})

In [41]:
test = amazon_UK[amazon_UK['listed_in'].str.contains('Ani')]
#netflix[netflix['rating'].str.contains('PG')
test.shape[0]

1

In [ ]:
UK = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [4, 6, 2, 9, 0, 3, 1, 3, 1],
                          'Location': ['UK','UK','UK','UK','UK',
                            'UK','UK','UK','UK','UK','UK','UK']})

In [56]:
test = amazon_US[amazon_US['listed_in'].str.contains('Ani')]
#netflix[netflix['rating'].str.contains('PG')
test.shape[0]

4

In [7]:
amazon_US = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [32, 30, 11, 33, 16, 7, 3, 10, 4],
                          'Location': ['USA','USA','USA','USA','USA',
                            'USA','USA','USA','USA']})

In [5]:
am_US = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [32, 30, 11, 33, 16, 7, 3, 10, 4],
                          'Location': ['Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon',
                          'Amazon', 'Amazon', 'Amazon', 'Amazon']})

dis_US = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [481, 116, 242, 391, 0, 150, 21, 0, 586],
                          'Location': ['Disney', 'Disney', 'Disney', 'Disney', 'Disney',
                          'Disney', 'Disney', 'Disney', 'Disney']})

hu_US = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [117, 54, 20, 60, 12, 42, 16, 3, 32],
                          'Location': ['Hulu', 'Hulu', 'Hulu', 'Hulu', 'Hulu', 'Hulu',
                          'Hulu', 'Hulu', 'Hulu']})

net_US = pd.DataFrame({'Genre': ['Comedy', 'Drama', 'Science Fiction/Fantasy', 'Action/Adventure', 'Suspense/Horror', 'Documentary', 'Romance', 'International', 'Animation'],
                          'Value': [11, 283, 148, 196, 44, 205, 122, 55, 10],
                          'Location': ['Netflix', 'Netflix', 'Netflix', 'Netflix', 'Netflix',
                          'Netflix', 'Netflix', 'Netflix', 'Netflix']})

In [8]:
dfs = [am_US, dis_US, hu_US, net_US]
USA_genres = pd.concat(dfs)
USA_genres.to_csv('USA_genres_2.csv')
#USA_genres
#USA_genres.to_csv('USA_genres.csv')

In [13]:
US_genre_platform = pd.DataFrame({'name': ['Netflix', 'Disney', 'Amazon', 'Hulu'],
                    'Comedy': [11, 481, 32, 117],
                    'Drama': [283, 116, 30, 54], 
                    'Science Fiction/Fantasy': [148, 242, 11, 20], 
                    'Action/Adventure': [196, 391, 33, 60],
                    'Suspense/Horror': [44, 0, 16, 12], 
                    'Documentary': [205, 150, 7, 42], 
                    'Romance': [122, 21, 3, 16],
                    'International': [55, 0, 10, 3],
                     'Animation/Cartoon': [10, 586, 4, 32]})

US_genre_platform.to_csv('USA_genres.csv')

In [ ]:
dfs = [India, UK, USA]
amazon_genres = pd.concat(dfs)
amazon_genres.to_csv('amazon_genres.csv')